.profile-cards{
    display: flex;
    justify-content: space-evenly;
    background-color: #f4d7d7;
    padding: 2rem 4rem;
    margin-top: 50vh;
    transform: translateY(-50%);
}

.profile-cards__card--img{
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border-radius: 50%;
}

.profile-cards__card{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.profile-cards__card--info__name{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.profile-cards__card--info__role{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.507);
}
