section{
    width: 50rem;
    margin: auto;
    box-shadow: 2px 2px 30px 2px lightgrey;
    padding: 4rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.price, .cart{
    background-color: #0093ab;
    color: white;
    border-radius: 1rem;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.price {
    align-self: flex-start;
}
.name {
    font-size: 2.5rem;
    font-weight: bold;
}
.description {
    text-align: justify;
    font-size: 2rem;
}
.cart {
    align-self: flex-end;
}
