.blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem 2rem;
}

img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

div{
    border: 1px solid hsla(20, 99%, 44%, 0.3);
    border-radius: 1rem;
    box-shadow: 1px 1px 25px lightgray;
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 50px;
    row-gap: 2rem;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    background-color: #e04d01;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;

    justify-self: start;
    align-self: end;
}