p{
    color: rgb(255, 0, 170);
    font-size: 20px;
}

h1{
    color: rgb(83, 184, 11);
}

h2{
    color: chartreuse;
}

/* #p1{
    color: red;
}

#p2{
    color: green;
}

#p3{
    color: blue;
}

#p4{
    color: black;
} */

.odd{
    color: lightgreen;
}

.even{
    color: blue;
}

.extra{
    font-size: 40px;
}