body{
    background-color: #1d2939;
}
.product-grid {
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    place-content: center;

}
.product-grid__product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 3rem);

    color: white;
    row-gap: 1rem;

}
.product-grid__product--img {
    height: 100%;
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/8;
}

.product-grid__product--img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-grid__product--dept {
  grid-row: 8/9;
  color: rgba(128, 128, 128, 0.5);
  font-size: 1.2rem;
  font-weight: bold;
}
.product-grid__product--name {
    grid-column: 1/-1;
    grid-row: 9/10;
    font-size: 1.8rem;
}
.product-grid__product--price {
    grid-column: 1/-1;
    grid-row: 10/11;
    font-size: 1.5rem;
    font-weight: bold;
}

.product-grid__product--price span:first-child{
    text-decoration: line-through;
    color: rgba(128, 128, 128, 0.5);
}

.product-grid__product--price span:last-child{
    text-decoration: none;
    color: white;
}
.product-grid__product--discount {
    grid-column: 3/-1;
    grid-row: 8/9;

    font-size: 1.2rem;
    font-weight: bold;
}
