#container{
    border: 2px solid;
}

/* #container p{
    background-color: yellow;
} */

/* 
#container > p{
    background-color: yellow;
} */

/* #container ~ p{
    background-color: yellow;
} */

#container + p{ 
    background-color: yellow;
}
