.navigation{
    display: flex;
    justify-content: space-between;
    background-color: #0aa1dd;
    padding: 0.5rem;
    border-radius: 4rem;
    margin: 2rem;
}

.navigation__link{
    color: white;
    text-decoration: none;
    border-radius: 3rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.navigation__link:hover{
    background-color: white;
    color: #0aa1dd;
}

