div{
    background-color: rgb(242, 103, 103);
    height: 100px;
    width: 100px;
    display: block;
    display: inline-block;
    visibility: hidden;
    display: none;
}

span{
    background-color: rgb(123, 123, 232);
    height: 100px;
    width: 100px;
    display: inline;
    display: block;
    display: inline-block;
}