#box1{
    background-color: rgb(122, 122, 226);
    width: 200px;
    height: 200px;
    top: 50px;
    left: 50px;
    position: relative;
    position: fixed;
    top: 100px;
    left: 100px;
    position: relative;
    position: sticky;
    position: static;
    
  
}

#box2{
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;

    top: 50px;
    left: 50px;
}
